# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/

# Streamlit
.streamlit/
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Data / exports (si quieres)
exports/
evidence*.json
case*.json